alertIfOverPerc=50
pushoverUser=uubp3k2ykm74coi4xhbvyhxpwugb22
pushoverToken=aq9p42t6cff8wndhfctggvddqzne3d

webullAccountId=12345678

# To obtain the key values below, first sign in here:
# https://app.webull.com/trade
# ...then, in the network tab, filter for requests to `accountAssetSummary/v3?secAccountId=...`
# ...then, inspect the request headers
webullAccessToken=dc_us_tech1.1968c682a07-27ab6c529eb0a29a10f5b354ae29b0af
webullDid=7sfkglprvsd8rh68up8kx9zpm9e59kar
webullTradeToken=19871a735c2-0674f7e5ea950773130c44fc3674bf97

